@page
@model SEP_Management.Areas.ClassManager.Pages.Milestones.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@* 
<h1>Create</h1>

<h4>Milestone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Milestone.MilestoneName" class="control-label"></label>
                <input asp-for="Milestone.MilestoneName" class="form-control" />
                <span asp-validation-for="Milestone.MilestoneName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milestone.Description" class="control-label"></label>
                <input asp-for="Milestone.Description" class="form-control" />
                <span asp-validation-for="Milestone.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milestone.DueDate" class="control-label"></label>
                <input asp-for="Milestone.DueDate" class="form-control" />
                <span asp-validation-for="Milestone.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milestone.IsActive" class="control-label"></label>
                <input asp-for="Milestone.IsActive" class="form-control" />
                <span asp-validation-for="Milestone.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milestone.ProjectId" class="control-label"></label>
                <select asp-for="Milestone.ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Milestone.StartDate" class="control-label"></label>
                <input asp-for="Milestone.StartDate" class="form-control" />
                <span asp-validation-for="Milestone.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milestone.GitlabId" class="control-label"></label>
                <input asp-for="Milestone.GitlabId" class="form-control" />
                <span asp-validation-for="Milestone.GitlabId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div> *@

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->
<form class="mt-4" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Title:</label>
                <input asp-for="Milestone.MilestoneName" type="text" class="form-control" />
            </div>
        </div><!--end col-->

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Start Date:</label>
                <input asp-for="Milestone.StartDate" type="datetime-local" class="form-control"  />
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Due Date:</label>
                <input asp-for="Milestone.DueDate" type="datetime-local" class="form-control">
            </div>
        </div><!--end col-->
        <input type="hidden" asp-for="Milestone.ProjectId" value="@Model.Project.ProjectId" />

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Status:</label>
                <select asp-for="Milestone.IsActive" asp-items="ViewBag.Status" required class="form-select" id="">
                    <option value="" hidden="">Select status:</option>
                </select>
            </div>
        </div><!--end col-->

        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Description:</label>
                <textarea asp-for="Milestone.Description" id="comments" rows="4" class="form-control"></textarea>
            </div>
        </div>
    </div><!--end row-->

    <div class="row">
        <div class="col-sm-12 col-md-9">
            <a asp-page="Index" name="submit" class="btn btn-primary">Back</a>
        </div><!--end col-->
        <div class="col-sm-12 col-md-3">
            <button style="float:right" type="submit" name="submit" class="btn btn-success">Save changes</button>
        </div>
    </div><!--end row-->
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
