--# {
    $prefix
}

form-multi-select-zindex: # {
    $form-multi-select-zindex
}

;
--# {
    $prefix
}

form-multi-select-font-family: # {
    $form-multi-select-font-family
}

;
--# {
    $prefix
}

form-multi-select-font-size: # {
    $form-multi-select-font-size
}

;
--# {
    $prefix
}

form-multi-select-font-weight: # {
    $form-multi-select-font-weight
}

;
--# {
    $prefix
}

form-multi-select-line-height: # {
    $form-multi-select-line-height
}

;
--# {
    $prefix
}

form-multi-select-color: # {
    $form-multi-select-color
}

;
--# {
    $prefix
}

form-multi-select-bg: # {
    $form-multi-select-bg
}

;
--# {
    $prefix
}

form-multi-select-box-shadow: # {
    $form-multi-select-box-shadow
}

;
--# {
    $prefix
}

form-multi-select-border-width: # {
    $form-multi-select-border-width
}

;
--# {
    $prefix
}

form-multi-select-border-color: # {
    $form-multi-select-border-color
}

;
--# {
    $prefix
}

form-multi-select-border-radius: # {
    $form-multi-select-border-radius
}

;
--# {
    $prefix
}

form-multi-select-disabled-color: # {
    $form-multi-select-disabled-color
}

;
--# {
    $prefix
}

form-multi-select-disabled-bg: # {
    $form-multi-select-disabled-bg
}

;
--# {
    $prefix
}

form-multi-select-disabled-border-color: # {
    $form-multi-select-disabled-border-color
}

;
--# {
    $prefix
}

form-multi-select-focus-color: # {
    $form-multi-select-focus-color
}

;
--# {
    $prefix
}

form-multi-select-focus-bg: # {
    $form-multi-select-focus-bg
}

;
--# {
    $prefix
}

form-multi-select-focus-border-color: # {
    $form-multi-select-focus-border-color
}

;
--# {
    $prefix
}

form-multi-select-focus-box-shadow: # {
    $form-multi-select-focus-box-shadow
}

;
--# {
    $prefix
}

form-multi-select-placeholder-color: # {
    $form-multi-select-placeholder-color
}

;
--# {
    $prefix
}

form-multi-select-selection-padding-y: # {
    $form-multi-select-selection-padding-y
}

;
--# {
    $prefix
}

form-multi-select-selection-padding-x: # {
    $form-multi-select-selection-padding-x
}

;
--# {
    $prefix
}

form-multi-select-cleaner-width: # {
    $form-multi-select-cleaner-width
}

;
--# {
    $prefix
}

form-multi-select-cleaner-height: # {
    $form-multi-select-cleaner-height
}

;
--# {
    $prefix
}

form-multi-select-cleaner-padding-y: # {
    $form-multi-select-cleaner-padding-y
}

;
--# {
    $prefix
}

form-multi-select-cleaner-padding-x: # {
    $form-multi-select-cleaner-padding-x
}

;
--# {
    $prefix
}

form-multi-select-cleaner-icon: # {
    escape-svg($form-multi-select-cleaner-icon)
}

;
--# {
    $prefix
}

form-multi-select-cleaner-icon-color: # {
    $form-multi-select-cleaner-icon-color
}

;
--# {
    $prefix
}

form-multi-select-cleaner-icon-hover-color: # {
    $form-multi-select-cleaner-icon-hover-color
}

;
--# {
    $prefix
}

form-multi-select-cleaner-icon-size: # {
    $form-multi-select-cleaner-icon-size
}

;
--# {
    $prefix
}

form-multi-select-indicator-width: # {
    $form-multi-select-indicator-width
}

;
--# {
    $prefix
}

form-multi-select-indicator-height: # {
    $form-multi-select-indicator-height
}

;
--# {
    $prefix
}

form-multi-select-indicator-padding-y: # {
    $form-multi-select-indicator-padding-y
}

;
--# {
    $prefix
}

form-multi-select-indicator-padding-x: # {
    $form-multi-select-indicator-padding-x
}

;
--# {
    $prefix
}

form-multi-select-indicator-icon: # {
    escape-svg($form-multi-select-indicator-icon)
}

;
--# {
    $prefix
}

form-multi-select-indicator-icon-color: # {
    $form-multi-select-indicator-icon-color
}

;
--# {
    $prefix
}

form-multi-select-indicator-icon-hover-color: # {
    $form-multi-select-indicator-icon-hover-color
}

;
--# {
    $prefix
}

form-multi-select-indicator-icon-size: # {
    $form-multi-select-indicator-icon-size
}

;
--# {
    $prefix
}

form-multi-select-select-all-padding-y: # {
    $form-multi-select-select-all-padding-y
}

;
--# {
    $prefix
}

form-multi-select-select-all-padding-x: # {
    $form-multi-select-select-all-padding-x
}

;
--# {
    $prefix
}

form-multi-select-select-all-color: # {
    $form-multi-select-select-all-color
}

;
--# {
    $prefix
}

form-multi-select-select-all-bg: # {
    $form-multi-select-select-all-bg
}

;
--# {
    $prefix
}

form-multi-select-select-all-border-width: # {
    $form-multi-select-select-all-border-width
}

;
--# {
    $prefix
}

form-multi-select-select-all-border-color: # {
    $form-multi-select-select-all-border-color
}

;
--# {
    $prefix
}

form-multi-select-select-all-hover-color: # {
    $form-multi-select-select-all-hover-color
}

;
--# {
    $prefix
}

form-multi-select-select-all-hover-bg: # {
    $form-multi-select-select-all-hover-bg
}

;
--# {
    $prefix
}

form-multi-select-dropdown-min-width: # {
    $form-multi-select-dropdown-min-width
}

;
--# {
    $prefix
}

form-multi-select-dropdown-bg: # {
    $form-multi-select-dropdown-bg
}

;
--# {
    $prefix
}

form-multi-select-dropdown-border-width: # {
    $form-multi-select-dropdown-border-width
}

;
--# {
    $prefix
}

form-multi-select-dropdown-border-color: # {
    $form-multi-select-dropdown-border-color
}

;
--# {
    $prefix
}

form-multi-select-dropdown-border-radius: # {
    $form-multi-select-dropdown-border-radius
}

;
--# {
    $prefix
}

form-multi-select-dropdown-box-shadow: # {
    $form-multi-select-dropdown-box-shadow
}

;
--# {
    $prefix
}

form-multi-select-options-padding-y: # {
    $form-multi-select-options-padding-y
}

;
--# {
    $prefix
}

form-multi-select-options-padding-x: # {
    $form-multi-select-options-padding-x
}

;
--# {
    $prefix
}

form-multi-select-options-font-size: # {
    $form-multi-select-options-font-size
}

;
--# {
    $prefix
}

form-multi-select-options-font-weight: # {
    $form-multi-select-options-font-weight
}

;
--# {
    $prefix
}

form-multi-select-options-color: # {
    $form-multi-select-options-color
}

;
--# {
    $prefix
}

form-multi-select-optgroup-label-padding-y: # {
    $form-multi-select-optgroup-label-padding-y
}

;
--# {
    $prefix
}

form-multi-select-optgroup-label-padding-x: # {
    $form-multi-select-optgroup-label-padding-x
}

;
--# {
    $prefix
}

form-multi-select-optgroup-label-font-size: # {
    $form-multi-select-optgroup-label-font-size
}

;
--# {
    $prefix
}

form-multi-select-optgroup-label-font-weight: # {
    $form-multi-select-optgroup-label-font-weight
}

;
--# {
    $prefix
}

form-multi-select-optgroup-label-color: # {
    $form-multi-select-optgroup-label-color
}

;
--# {
    $prefix
}

form-multi-select-optgroup-label-text-transform: # {
    $form-multi-select-optgroup-label-text-transform
}

;
--# {
    $prefix
}

form-multi-select-option-padding-y: # {
    $form-multi-select-option-padding-y
}

;
--# {
    $prefix
}

form-multi-select-option-padding-x: # {
    $form-multi-select-option-padding-x
}

;
--# {
    $prefix
}

form-multi-select-option-margin-y: # {
    $form-multi-select-option-margin-y
}

;
--# {
    $prefix
}

form-multi-select-option-margin-x: # {
    $form-multi-select-option-margin-x
}

;
--# {
    $prefix
}

form-multi-select-option-border-width: # {
    $form-multi-select-option-border-width
}

;
--# {
    $prefix
}

form-multi-select-option-border-color: # {
    $form-multi-select-option-border-color
}

;
--# {
    $prefix
}

form-multi-select-option-border-radius: # {
    $form-multi-select-option-border-radius
}

;
--# {
    $prefix
}

form-multi-select-option-box-shadow: # {
    $form-multi-select-option-box-shadow
}

;
--# {
    $prefix
}

form-multi-select-option-hover-color: # {
    $form-multi-select-option-hover-color
}

;
--# {
    $prefix
}

form-multi-select-option-hover-bg: # {
    $form-multi-select-option-hover-bg
}

;
--# {
    $prefix
}

form-multi-select-option-focus-box-shadow: # {
    $form-multi-select-option-focus-box-shadow
}

;
--# {
    $prefix
}

form-multi-select-option-disabled-color: # {
    $form-multi-select-option-disabled-color
}

;
--# {
    $prefix
}

form-multi-select-option-indicator-width: # {
    $form-multi-select-option-indicator-width
}

;
--# {
    $prefix
}

form-multi-select-option-indicator-bg: # {
    $form-multi-select-option-indicator-bg
}

;
--# {
    $prefix
}

form-multi-select-option-indicator-border: # {
    $form-multi-select-option-indicator-border
}

;
--# {
    $prefix
}

form-multi-select-option-indicator-border-radius: # {
    $form-multi-select-option-indicator-border-radius
}

;
--# {
    $prefix
}

form-multi-select-option-selected-bg: # {
    $form-multi-select-option-selected-bg
}

;
--# {
    $prefix
}

form-multi-select-option-selected-indicator-bg: # {
    $form-multi-select-option-selected-indicator-bg
}

;
--# {
    $prefix
}

form-multi-select-option-selected-indicator-bg-image: # {
    escape-svg($form-multi-select-option-selected-indicator-bg-image)
}

;
--# {
    $prefix
}

form-multi-select-option-selected-indicator-border-color: # {
    $form-multi-select-option-selected-indicator-border-color
}

;
--# {
    $prefix
}

form-multi-select-tag-padding-y: # {
    $form-multi-select-tag-padding-y
}

;
--# {
    $prefix
}

form-multi-select-tag-padding-x: # {
    $form-multi-select-tag-padding-x
}

;
--# {
    $prefix
}

form-multi-select-tag-bg: # {
    $form-multi-select-tag-bg
}

;
--# {
    $prefix
}

form-multi-select-tag-border-width: # {
    $form-multi-select-tag-border-width
}

;
--# {
    $prefix
}

form-multi-select-tag-border-color: # {
    $form-multi-select-tag-border-color
}

;
--# {
    $prefix
}

form-multi-select-tag-border-radius: # {
    $form-multi-select-tag-border-radius
}

;
--# {
    $prefix
}

form-multi-select-tag-delete-width: # {
    $form-multi-select-tag-delete-width
}

;
--# {
    $prefix
}

form-multi-select-tag-delete-height: # {
    $form-multi-select-tag-delete-height
}

;
--# {
    $prefix
}

form-multi-select-tag-delete-icon: # {
    escape-svg($form-multi-select-tag-delete-icon)
}

;
--# {
    $prefix
}

form-multi-select-tag-delete-icon-color: # {
    $form-multi-select-tag-delete-icon-color
}

;
--# {
    $prefix
}

form-multi-select-tag-delete-icon-hover-color: # {
    $form-multi-select-tag-delete-icon-hover-color
}

;
--# {
    $prefix
}

form-multi-select-tag-delete-icon-size: # {
    $form-multi-select-tag-delete-icon-size
}

;
--# {
    $prefix
}

form-multi-select-selection-tags-gap: # {
    $form-multi-select-selection-tags-gap
}

;
--# {
    $prefix
}

form-multi-select-selection-tags-padding-y: # {
    $form-multi-select-selection-tags-padding-y
}

;
--# {
    $prefix
}

form-multi-select-selection-tags-padding-x: # {
    $form-multi-select-selection-tags-padding-x
}

;
